
.logo-image{
  max-width:100px;
}

.nav-bar{
  height: 70px;
  background-color: whitesmoke;
  padding: 20px 36px;
  display:flex;
  align-items: flex-start;
}
.hero-section{
  display: flex;
  flex-direction: column;
  padding:20px;
}
.hero-header{
  margin-bottom: 16px;
}
.hero-text{
  margin-top: 0px;
}
.hero-photo{
  margin-left: 400px;
  max-width: 800px;
  border-radius: 5px;
}
.card{
  width:400px;
  margin: 20px;
  padding:10px;
}
.card-image{
  width: 100%;
  height: 50%;
  border-radius: 6px;
}
.card-star{
  width:20px;
  height: 15px;
  margin-left: 200px;

}
.card-stats{
  display:flex;
  align-items: center;
}
.gray{
  color:grey
}
.bold{
  font-weight: bold;
}
.cardlist{
  width:1000px;
  height:400px;
  display:flex;
  flex-direction: row;
  margin-left:10px;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
